ICMP Message specification

Specify all ICMP messages in the ICMP packet.
Relevant RFCs:
 - [RFC 792](https://tools.ietf.org/html/rfc792)
 - [RFC 1812](https://tools.ietf.org/html/rfc1812)
 - [RFC 4884](https://tools.ietf.org/html/rfc4884)

RFC 792 was updated by RFC 4884. This introduces multi-part messages and length fields for Destination Unreachable (type = 3), Time Exceeded (type = 11), Parameter Problem (type = 12)

The ICMP Extension Structure may be appended to messages of the
following types:
- ICMPv4 Destination Unreachable
- ICMPv4 Time Exceeded
- ICMPv4 Parameter Problem

The ICMP Extension Structure must not be appended to any of the other ICMP messages

RFC1812 4.3.2.3 extends the "original datagram" field to contain as many octets as possible without causing the ICMP message to exceed the minimum IPv4 reassembly buffer size (i.e., 576 octets)

In real world applications (as one can see from attached traceroute pcap) the received messages did in some cases not conform to the updated standard with icmp extensions (RFC 4884). For example there is no length field but an icmp extension, which makes the message hard to parse as we cannot know where the "original datagram" field ends and the extension begins.
[tracert.zip](https://github.com/Componolit/RecordFlux/files/4369836/tracert.zip)

See section 5.5 of RFC 4884 for details of how to deal with non-compliant packets received by a compliant application (guessing)


The ICMP specification is not correct, as the Tag is not tied to the message type. Change the spec such that every possible request/reply is expressed in one message (depending on the Tag).

I tried to express all ICMP variants in one message but clearly i am doing something wrong. I get this error message but do not really understand it (especially the last part). Could someone have a look at this please? I added a commit with the "new" Spec to branch 174.
```
rflx.model.ModelError: contradicting condition 1 from field "Checksum" to "Identifier" on path [Tag -> Code_Time_Exceeded -> Checksum] in "ICMP.ICMP_Message" (Tag = Time_Exceeded
E                          ∧ Echo_Request = 8
E                          ∧ ((((Tag = Echo_Request
E                           or Tag = Echo_Reply)
E                          or Tag = Timestamp_Msg)
E                         or Tag = Timestamp_Reply)
E                        or Tag = Information_Request)
E                       or Tag = Information_Reply
E                          ∧ Time_Exceeded = 11
E                          ∧ Information_Request = 15
E                          ∧ Echo_Reply = 0
E                          ∧ Information_Reply = 16
E                          ∧ Timestamp_Reply = 14
E                          ∧ Timestamp_Msg = 13)
```


I think there is a bug in the model verification: #277.

Thanks for updating the ICMP model. This was indeed an issue in the verification which is now fixed. It should be merged into `develop` through #278 shortly.

NB: I'd rename `ICMP_Message` to just `Message` in the model, as the package is already named `ICMP`.

@jklmnn @treiher @rssen Is everybody OK with the new ICMP spec? If so,  @rssen, please file a PR.

It works for me.

> @jklmnn @treiher @rssen Is everybody OK with the new ICMP spec? If so, @rssen, please file a PR.

Even if not, we should discuss that in a PR.