Support sequence element with size defined by field value

Elements of a sequence may depend on the value of another field of a message (cf. RFC 6554, section 3 - RPL routing header).