ICMP implementation differs from specification (RFC 792)

While testing the ICMP Destination Unreachable message i found out that the data
part of the message, which is supposed to contain (according to RFC 792) the IP Header (20 bytes) and the first 64 bits of the original data datagram, in reality contained the IP Header (20 bytes) + 64 **bytes** of the original  data datagram.

We should find out weather this is generally the case.



[icmp_dest_unreachable.zip](https://github.com/Componolit/RecordFlux/files/4338352/icmp_dest_unreachable.zip)


RFC 792 was updated by RFC 4884. This introduces multi-part messages and length fields for Destination Unreachable (type = 3), Time Exceeded (type = 11), Parameter Problem (type = 12)

 The ICMP Extension Structure may be appended to messages of the
   following types:
      - ICMPv4 Destination Unreachable
      - ICMPv4 Time Exceeded
      - ICMPv4 Parameter Problem

The ICMP Extension Structure must not be appended to any of the other ICMP messages

RFC1812 4.3.2.3 extends the "original datagram" field to contain as many octets as possible without causing the ICMP message to exceed the minimum IPv4 reassembly buffer size (i.e., 576 octets)

Closed in favor of #174.